<h1><%=I18n.t('activerecord.attributes.user.edit_profile')%></h1>

<div class="row">
  <div class="col-md-6 buffer-top">

    <%= render 'form' %>

    <p class="buffer-top">
      <%= link_to I18n.t('activerecord.attributes.user.change_password'), edit_user_registration_path %>
    </p>
  </div>
</div>
