<div class="text-center">
  <% if @user == current_user %>
    <%= link_to 'User Edit', edit_user_path(@user), class: 'btn btn-primary buffer-right' %>
  <% else %>
    <p>You no current user</p>
  <% end %>
</div>

<% if @user.posts.any? %>
  <h3>Мои посты:</h3>
  <%= render partial: 'posts/post', collection: @user.posts %>
<% else %>
  <p class="buffer-top">Пользователь пока не написал ни одного
    поста</p>
<% end %>
