<div class="max-w-xl mx-auto p-6 mt-8 mb-8">
  <h1 class="text-3xl font-bold text-gray-800 text-center mb-6">
    <%= t('activerecord.controllers.posts.changed', default: 'Edit Post') %>
  </h1>

  <%= render 'form' %>
</div>
