<div class="event">
  <div class="event-info row">
    <div class="col-md-12">
      <div class="event-info-inner row">
        <div class="col-md-12">
          <div class="event-description">
            <h1><%= @post.title %></h1>
          </div>
          <div class="event-description">
            <p><%= @post.body %></p>
          </div>
          <div class="buffer-both">
            <%if current_user_can_edit?(@post) %>
              <%= link_to I18n.t('activerecord.post.change'), edit_post_path(@post),
                          class: 'btn btn-primary buffer-right' %>

              <%= link_to I18n.t('activerecord.post.destroy'), post_path(@post),
                          data: {confirm: "Вы действительно хотите удалить пост?"},
                          method: :delete, class: "btn btn-danger" %>
            <%end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
